In [21]:
import pandas as pd
import numpy as np

In [27]:
#loading csv file
county_data = "2016_Opioid_County.csv"

In [28]:
#reading in data
county_opioid = pd.read_csv(county_data)

In [29]:
#sneakpeak 
#county_opioid

In [119]:
#cleaning data up to have correct row identified as columns, renaming df as county_df 
headers = county_opioid.iloc[3]
county_df  = pd.DataFrame(county_opioid.values[4:], columns=headers)
county_df = county_df.drop(county_df.index[0])
county_df = county_df.dropna()
county_df = county_df.reset_index()
county_df

3,index,State Name,State Abbreviation,County Name,FIPS,Part D Prescribers,Part D Opioid Prescribers,Opioid Claims,Extended Release Opioid Claims,Overall Claims,Opioid Prescribing Rate,Extended Release Opioid Prescribing Rate,Change in Opioid Prescribing Rate,Change in Extended Release Opioid Prescribing Rate
0,1,Alabama,AL,Autauga,01001,73,45,"24,358","2,286","212,377",11.47,9.39,1.67,4.61
1,2,Alabama,AL,Baldwin,01003,457,259,"80,557","6,489","940,727",8.56,8.06,-0.58,0.33
2,3,Alabama,AL,Barbour,01005,31,21,"4,383",165,"123,196",3.56,3.76,-2.72,1.49
3,4,Alabama,AL,Bibb,01007,40,14,"1,759",43,"47,162",3.73,2.44,-0.25,0.52
4,5,Alabama,AL,Blount,01009,26,21,"7,846",56,"135,749",5.78,0.71,-0.34,-1.00
5,6,Alabama,AL,Bullock,01011,7,6,"1,920",40,"40,333",4.76,2.08,1.02,0.96
6,7,Alabama,AL,Butler,01013,36,25,"3,943",26,"93,106",4.23,0.66,-3.96,-0.39
7,8,Alabama,AL,Calhoun,01015,276,159,"47,278","1,759","645,365",7.33,3.72,-0.65,-1.77
8,9,Alabama,AL,Chambers,01017,32,22,"10,700",647,"136,055",7.86,6.05,-0.10,-0.14
9,10,Alabama,AL,Cherokee,01019,32,20,"13,189",934,"168,763",7.82,7.08,-0.34,5.08
10,11,Alabama,AL,Chilton,01021,40,29,"11,909",95,"162,842",7.31,0.80,0.86,-0.24
11,12,Alabama,AL,Choctaw,01023,12,8,"6,513",158,"88,461",7.36,2.43,-0.77,0.70
12,13,Alabama,AL,Clarke,01025,42,25,"9,109",97,"157,146",5.80,1.06,-0.80,0.08
13,14,Alabama,AL,Clay,01027,15,9,"7,408",574,"91,852",8.07,7.75,0.13,1.88
14,15,Alabama,AL,Cleburne,01029,4,3,"3,280",121,"42,555",7.71,3.69,-1.10,0.53
15,16,Alabama,AL,Coffee,01031,99,53,"17,760",671,"224,725",7.90,3.78,-0.26,1.55
16,17,Alabama,AL,Colbert,01033,159,92,"35,537",681,"517,648",6.87,1.92,-0.68,-0.81
17,18,Alabama,AL,Conecuh,01035,16,10,"11,586",284,"120,833",9.59,2.45,-0.57,0.45
18,19,Alabama,AL,Coosa,01037,1,1,106,0,"2,407",4.40,0.00,2.62,0.00
19,20,Alabama,AL,Covington,01039,75,39,"22,054",490,"281,538",7.83,2.22,-0.41,-0.66
20,21,Alabama,AL,Crenshaw,01041,13,4,"4,125",81,"73,565",5.61,1.96,-0.89,0.16
21,22,Alabama,AL,Cullman,01043,218,120,"58,533","4,065","744,562",7.86,6.94,0.21,0.45
22,23,Alabama,AL,Dale,01045,54,31,"7,056",61,"94,127",7.50,0.86,-0.91,-1.07
23,24,Alabama,AL,Dallas,01047,91,48,"18,872","1,579","302,067",6.25,8.37,0.04,1.77
24,25,Alabama,AL,DeKalb,01049,99,52,"23,365",796,"345,240",6.77,3.41,0.32,0.94
25,26,Alabama,AL,Elmore,01051,64,49,"16,017",300,"212,569",7.53,1.87,-0.03,-0.43
26,27,Alabama,AL,Escambia,01053,62,39,"16,171",231,"201,260",8.03,1.43,0.71,-0.17
27,28,Alabama,AL,Etowah,01055,331,195,"73,868","6,689","876,135",8.43,9.06,-0.64,-2.33
28,29,Alabama,AL,Fayette,01057,21,15,"4,898",207,"100,341",4.88,4.23,-1.36,-1.31
29,30,Alabama,AL,Franklin,01059,52,31,"16,136",412,"141,377",11.41,2.55,0.15,-0.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038,3049,Wisconsin,WI,Washburn,55129,39,24,"4,443",375,"72,156",6.16,8.44,-0.03,-1.03
3039,3050,Wisconsin,WI,Washington,55131,254,128,"18,682",975,"466,190",4.01,5.22,-0.61,0.43
3040,3051,Wisconsin,WI,Waukesha,55133,"1,443",667,"87,974","6,460","1,897,575",4.64,7.34,-0.33,0.99
3041,3052,Wisconsin,WI,Waupaca,55135,109,72,"13,811","1,156","268,166",5.15,8.37,-0.19,0.16
3042,3053,Wisconsin,WI,Waushara,55137,52,31,"4,257",325,"80,162",5.31,7.63,-0.18,2.28
3043,3054,Wisconsin,WI,Winnebago,55139,593,300,"43,439","2,482","882,756",4.92,5.71,-0.08,0.70
3044,3055,Wisconsin,WI,Wood,55141,499,244,"24,828",781,"547,759",4.53,3.15,-0.02,0.17
3045,3056,Wyoming,WY,Albany,56001,86,35,"3,018",121,"65,874",4.58,4.01,-0.21,-2.79
3046,3057,Wyoming,WY,Big Horn,56003,19,13,"2,587",135,"39,514",6.55,5.22,-0.43,1.10
3047,3058,Wyoming,WY,Campbell,56005,106,58,"7,629",481,"109,832",6.95,6.30,1.44,2.26
3048,3059,Wyoming,WY,Carbon,56007,22,12,"1,555",34,"22,704",6.85,2.19,1.05,-3.66
3049,3060,Wyoming,WY,Converse,56009,37,22,"2,269",183,"34,603",6.56,8.07,-0.04,3.60
3050,3061,Wyoming,WY,Crook,56011,8,5,309,0,"6,468",4.78,0.00,0.37,0.00
3051,3062,Wyoming,WY,Fremont,56013,127,72,"7,617",668,"134,776",5.65,8.77,0.51,1.73
3052,3063,Wyoming,WY,Goshen,56015,25,8,"1,466",129,"36,332",4.04,8.80,-0.12,5.70
3053,3064,Wyoming,WY,Hot Springs,56017,14,11,"2,190",189,"40,540",5.40,8.63,0.63,2.42
3054,3065,Wyoming,WY,Johnson,56019,18,10,"1,215",76,"25,810",4.71,6.26,0.00,-3.93
3055,3066,Wyoming,WY,Laramie,56021,350,152,"18,153","1,010","328,738",5.52,5.56,-0.35,0.47
3056,3067,Wyoming,WY,Lincoln,56023,37,19,"2,745",327,"36,303",7.56,11.91,0.15,0.82
3057,3068,Wyoming,WY,Natrona,56025,352,189,"19,314","1,336","349,197",5.53,6.92,-0.37,-0.47
3058,3069,Wyoming,WY,Niobrara,56027,2,1,66,0,"2,803",2.35,0.00,-0.21,0.00
3059,3070,Wyoming,WY,Park,56029,135,83,"7,909",377,"118,329",6.68,4.77,-0.37,-1.66
3060,3071,Wyoming,WY,Platte,56031,16,11,"1,249",67,"26,199",4.77,5.36,-1.42,1.91
3061,3072,Wyoming,WY,Sheridan,56033,117,50,"5,922",241,"117,825",5.03,4.07,-0.24,-1.27
3062,3073,Wyoming,WY,Sublette,56035,20,11,"1,010",21,"15,806",6.39,2.08,2.37,-1.94
3063,3074,Wyoming,WY,Sweetwater,56037,96,53,"6,240",461,"91,247",6.84,7.39,-1.16,-3.11
3064,3075,Wyoming,WY,Teton,56039,99,36,"2,930",87,"46,390",6.32,2.97,0.13,-2.82
3065,3076,Wyoming,WY,Uinta,56041,62,30,"5,368",717,"62,246",8.62,13.36,1.60,4.80
3066,3077,Wyoming,WY,Washakie,56043,16,9,"2,123",233,"38,373",5.53,10.98,-0.51,1.16
3067,3078,Wyoming,WY,Weston,56045,14,9,"1,594",169,"19,368",8.23,10.60,-1.54,-0.11

In [68]:
unemployment_data = "Unemployment_by_county.csv"
unemployment_by_county = pd.read_csv(unemployment_data)
unemployment_by_county

,"Labor Force Data by County, 2016 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,State,County,NaN,NaN,NaN,NaN,NaN,NaN,Unemploy-
2,LAUS,FIPS,FIPS,NaN,NaN,NaN,Labor,NaN,NaN,ment Rate
3,Code,Code,Code,County Name/State Abbreviation,Year,NaN,Force,Employed,Unemployed,(%)
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CN0100100000000,01,001,"Autauga County, AL",2016,NaN,"25,918","24,593","1,325",5.1
6,CN0100300000000,01,003,"Baldwin County, AL",2016,NaN,"90,500","85,656","4,844",5.4
7,CN0100500000000,01,005,"Barbour County, AL",2016,NaN,"8,402","7,700",702,8.4
8,CN0100700000000,01,007,"Bibb County, AL",2016,NaN,"8,607","8,050",557,6.5
9,CN0100900000000,01,009,"Blount County, AL",2016,NaN,"24,576","23,248","1,328",5.4
10,CN0101100000000,01,011,"Bullock County, AL",2016,NaN,"4,824","4,493",331,6.9
11,CN0101300000000,01,013,"Butler County, AL",2016,NaN,"9,190","8,553",637,6.9
12,CN0101500000000,01,015,"Calhoun County, AL",2016,NaN,"45,818","42,815","3,003",6.6
13,CN0101700000000,01,017,"Chambers County, AL",2016,NaN,"14,978","14,158",820,5.5
14,CN0101900000000,01,019,"Cherokee County, AL",2016,NaN,"11,332","10,757",575,5.1
15,CN0102100000000,01,021,"Chilton County, AL",2016,NaN,"19,183","18,128","1,055",5.5
16,CN0102300000000,01,023,"Choctaw County, AL",2016,NaN,"4,327","3,958",369,8.5
17,CN0102500000000,01,025,"Clarke County, AL",2016,NaN,"7,953","7,087",866,10.9
18,CN0102700000000,01,027,"Clay County, AL",2016,NaN,"5,624","5,289",335,6.0
19,CN0102900000000,01,029,"Cleburne County, AL",2016,NaN,"5,785","5,438",347,6.0
20,CN0103100000000,01,031,"Coffee County, AL",2016,NaN,"20,593","19,382","1,211",5.9
21,CN0103300000000,01,033,"Colbert County, AL",2016,NaN,"23,449","21,816","1,633",7.0
22,CN0103500000000,01,035,"Conecuh County, AL",2016,NaN,"4,548","4,164",384,8.4
23,CN0103700000000,01,037,"Coosa County, AL",2016,NaN,"4,379","4,117",262,6.0
24,CN0103900000000,01,039,"Covington County, AL",2016,NaN,"15,490","14,441","1,049",6.8
25,CN0104100000000,01,041,"Crenshaw County, AL",2016,NaN,"6,451","6,072",379,5.9
26,CN0104300000000,01,043,"Cullman County, AL",2016,NaN,"37,898","36,010","1,888",5.0
27,CN0104500000000,01,045,"Dale County, AL",2016,NaN,"19,956","18,799","1,157",5.8
28,CN0104700000000,01,047,"Dallas County, AL",2016,NaN,"15,417","13,993","1,424",9.2
29,CN0104900000000,01,049,"DeKalb County, AL",2016,NaN,"29,229","27,453","1,776",6.1
...,...,...,...,...,...,...,...,...,...,...
3197,CN7210100000000,72,101,"Morovis Municipio, PR",2016,NaN,"8,132","7,037","1,095",13.5
3198,CN7210300000000,72,103,"Naguabo Municipio, PR",2016,NaN,"8,099","7,099","1,000",12.3
3199,CN7210500000000,72,105,"Naranjito Municipio, PR",2016,NaN,"7,272","6,328",944,13.0
3200,CN7210700000000,72,107,"Orocovis Municipio, PR",2016,NaN,"5,211","4,402",809,15.5
3201,CN7210900000000,72,109,"Patillas Municipio, PR",2016,NaN,"4,821","3,825",996,20.7
3202,CN7211100000000,72,111,"Penuelas Municipio, PR",2016,NaN,"6,130","5,106","1,024",16.7
3203,CN7211300000000,72,113,"Ponce Municipio, PR",2016,NaN,"47,882","41,450","6,432",13.4
3204,CN7211500000000,72,115,"Quebradillas Municipio, PR",2016,NaN,"6,088","5,115",973,16.0
3205,CN7211700000000,72,117,"Rincon Municipio, PR",2016,NaN,"4,638","3,913",725,15.6
3206,CN7211900000000,72,119,"Rio Grande Municipio, PR",2016,NaN,"17,120","15,323","1,797",10.5
3207,CN7212100000000,72,121,"Sabana Grande Municipio, PR",2016,NaN,"6,455","5,431","1,024",15.9
3208,CN7212300000000,72,123,"Salinas Municipio, PR",2016,NaN,"7,580","5,936","1,644",21.7
3209,CN7212500000000,72,125,"San German Municipio, PR",2016,NaN,"10,372","8,786","1,586",15.3
3210,CN7212700000000,72,127,"San Juan Municipio, PR",2016,NaN,"135,347","124,654","10,693",7.9
3211,CN7212900000000,72,129,"San Lorenzo Municipio, PR",2016,NaN,"11,928","10,432","1,496",12.5
3212,CN7213100000000,72,131,"San Sebastian Municipio, PR",2016,NaN,"10,739","8,706","2,033",18.9
3213,CN7213300000000,72,133,"Santa Isabel Municipio, PR",2016,NaN,"9,913","8,255","1,658",16.7
3214,CN7213500000000,72,135,"Toa Alta Municipio, PR",2016,NaN,"26,588","24,374","2,214",8.3
3215,CN7213700000000,72,137,"Toa Baja Municipio, PR",2016,NaN,"29,794","27,105","2,689",9.0
3216,CN7213900000000,72,139,"Trujillo Alto Municipio, PR",2016,NaN,"27,164","25,206","1,958",7.2
3217,CN7214100000000,72,141,"Utuado Municipio, PR",2016,NaN,"6,895","5,824","1,071",15.5
3218,CN7214300000000,72,143,"Vega Alta Municipio, PR",2016,NaN,"9,892","8,751","1,141",11.5
3219,CN7214500000000,72,145,"Vega Baja Municipio, PR",2016,NaN,"13,753","11,844","1,909",13.9
3220,CN7214700000000,72,147,"Vieques Municipio, PR",2016,NaN,"3,263","2,917",346,10.6
3221,CN7214900000000,72,149,"Villalba Municipio, PR",2016,NaN,"7,827","6,243","1,584",20.2
3222,CN7215100000000,72,151,"Yabucoa Municipio, PR",2016,NaN,"9,095","7,555","1,540",16.9
3223,CN7215300000000,72,153,"Yauco Municipio, PR",2016,NaN,"10,752","8,731","2,021",18.8
3224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3225,"SOURCE: BLS, LAUS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3226,"April 20, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
headers = unemployment_by_county.iloc[3]
labor_county_df  = pd.DataFrame(unemployment_by_county.values[5:], columns=headers)

In [70]:
labor_county_df.columns = labor_county_df.columns.fillna('nan')
labor_county_df.drop('nan', axis = 1, inplace = True)

In [72]:
labor_county_df.drop('Code', axis= 1, inplace = True)

In [108]:
labor_county_df.head()

3,County Name/State Abbreviation,Year,Force,Employed,Unemployed,(%)
0,"Autauga County, AL",2016,"25,918","24,593","1,325",5.1
1,"Baldwin County, AL",2016,"90,500","85,656","4,844",5.4
2,"Barbour County, AL",2016,"8,402","7,700",702,8.4
3,"Bibb County, AL",2016,"8,607","8,050",557,6.5
4,"Blount County, AL",2016,"24,576","23,248","1,328",5.4

In [126]:
labor_county_df['County Name/State Abbreviation'].str.split(' ', 2, expand=True)

                 0           1              2
0          Autauga     County,             AL
1          Baldwin     County,             AL
2          Barbour     County,             AL
3             Bibb     County,             AL
4           Blount     County,             AL
5          Bullock     County,             AL
6           Butler     County,             AL
7          Calhoun     County,             AL
8         Chambers     County,             AL
9         Cherokee     County,             AL
10         Chilton     County,             AL
11         Choctaw     County,             AL
12          Clarke     County,             AL
13            Clay     County,             AL
14        Cleburne     County,             AL
15          Coffee     County,             AL
16         Colbert     County,             AL
17         Conecuh     County,             AL
18           Coosa     County,             AL
19       Covington     County,             AL
20        Crenshaw     County,             AL
21         Cullman     County,             AL
22            Dale     County,             AL
23          Dallas     County,             AL
24          DeKalb     County,             AL
25          Elmore     County,             AL
26        Escambia     County,             AL
27          Etowah     County,             AL
28         Fayette     County,             AL
29        Franklin     County,             AL
...            ...         ...            ...
3192       Morovis  Municipio,             PR
3193       Naguabo  Municipio,             PR
3194     Naranjito  Municipio,             PR
3195      Orocovis  Municipio,             PR
3196      Patillas  Municipio,             PR
3197      Penuelas  Municipio,             PR
3198         Ponce  Municipio,             PR
3199  Quebradillas  Municipio,             PR
3200        Rincon  Municipio,             PR
3201           Rio      Grande  Municipio, PR
3202        Sabana      Grande  Municipio, PR
3203       Salinas  Municipio,             PR
3204           San      German  Municipio, PR
3205           San        Juan  Municipio, PR
3206           San     Lorenzo  Municipio, PR
3207           San   Sebastian  Municipio, PR
3208         Santa      Isabel  Municipio, PR
3209           Toa        Alta  Municipio, PR
3210           Toa        Baja  Municipio, PR
3211      Trujillo        Alto  Municipio, PR
3212        Utuado  Municipio,             PR
3213          Vega        Alta  Municipio, PR
3214          Vega        Baja  Municipio, PR
3215       Vieques  Municipio,             PR
3216      Villalba  Municipio,             PR
3217       Yabucoa  Municipio,             PR
3218         Yauco  Municipio,             PR
3219           NaN         NaN            NaN
3220           NaN         NaN            NaN
3221           NaN         NaN            NaN

[3222 rows x 3 columns]